<div class="meme-form">
  <form action="/memes" method="post">
    <div class="form-control">
      <label for="name">Meme Owner</label><br />
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Enter your full name"
      />
    </div>
    <div class="form-control">
      <label for="caption">Caption</label><br />
      <input
        type="text"
        name="memecaption"
        id="memecaption"
        placeholder="Be creative with the caption"
      />
    </div>
    <div class="form-control">
      <label for="url">Meme URL</label><br />
      <input
        type="text"
        name="memeurl"
        id="memeurl"
        placeholder="Enter URL of your meme here"
      />
    </div>
    <div class="form-control">
      <br /><button type="submit" class="btn">Submit Meme</button>
    </div>
  </form>
</div>
