<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>XMeme</title>
    <!-- load jquery via CDN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- load our javascript file -->
    <script src="form.js"></script>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <div class="container">
      <div>
        <center><h1>Meme Stream</h1></center>
      </div>
      <form action="http://localhost:8081/memes" method="POST">
        <div class="row">
          <div class="col-25">
            <label for="name">Meme Owner</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Enter your full name"
              required="true"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="caption">Caption</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="caption"
              name="caption"
              placeholder="Be creative with the caption"
              required="true"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="url">Meme URL</label>
          </div>
          <div class="col-75">
            <input
              type="text"
              id="url"
              name="url"
              placeholder="Enter URL of your meme here"
              required="true"
            />
          </div>
        </div>
        <div class="row">
          <input type="submit" value="Submit Meme" />
        </div>
      </form>
    </div>
    <script src="" async defer></script>
  </body>
</html>
